div.shop-catalog
	div.row
		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'borshch_s_mitbolami',
				title: 'Борщ с митболами из говядины белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'solyanka_s_mitbolami',
				title: 'Солянка с митболами из говядины белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'suplapsha_s_mitbolami',
				title: 'Суп-лапша с митболами из курицы белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'lagman_s_mitbolami',
				title: 'Лагман с митболами из говядины белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'tom_yam_s_fishbolami',
				title: 'Том Ям с фишболами из лосося белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'tom_kkha_s_mitbolami',
				title: 'Том Кха с митболами из курицы белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'ma_po_tofu_s_farshem',
				title: 'Ма По Тофу с фаршем из говядины белковым',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'fo_s_mitbolami',
				title: 'Фо с митболами из говядины белковыми',
				price: '0'
			})

		div.shop-catalog__item.col-12.col-md-4
			+shop-item({
				id: 'miso_s_fishbolami',
				title: 'Мисо с фишболами из лосося белковыми',
				price: '0'
			})