div.shop-catalog
  div.row
    div.shop-catalog__item.col-12.col-md-4
      +shop-item({
        id: 'borshch_s_mitbolami',
        title: 'Борщ с митболами из говядины белковыми',
        price: '174'
      })

    div.shop-catalog__item.col-12.col-md-4
      +shop-item({
        id: 'solyanka_s_mitbolami',
        title: 'Солянка с митболами из говядины белковыми',
        price: '194'
      })

    div.shop-catalog__item.col-12.col-md-4
      +shop-item({
        id: 'suplapsha_s_mitbolami',
        title: 'Суп-лапша с митболами из курицы белковыми',
        price: '134'
      })