section.investments
	div.container.investments__border
		div.row
			div.col-12
				h2.h2 ИНВЕСТИЦИИ НА&nbsp;СТАРТЕ
		div.row
			div.col-12.col-md-6
				div.investments__item
					div.investments__img
						img(src="images/icon-vertical__18.png", alt="")
					div.investments__info
						h3.investments__title Приобретение брендированных
							br
							|морозильных ларей
						p.investments__subtitle от&nbsp;3&nbsp;до&nbsp;10&nbsp;штук
						p.investments__text от&nbsp;50&nbsp;000&nbsp;руб.&nbsp;до&nbsp;200&nbsp;000&nbsp;руб.
						p.investments__subtext в&nbsp;зависимости от&nbsp;объема ларя
			div.col-12.col-md-6
				div.investments__item
					div.investments__img
						img(src="images/icon-vertical__19.png", alt="")
					div.investments__info
						h3.investments__title Приобретение первоначальной 
							br
							|партии продукции
						p.investments__text 150&nbsp;000&nbsp;руб.
						//- p.investments__subtext сумма ориентировочная
			div.col-12.col-md-6
				div.investments__item
					div.investments__img
						img(src="images/icon-vertical__20.png", alt="")
					div.investments__info
						h3.investments__title ПАУШАЛЬНЫЙ ВЗНОС
						p.investments__text 300&nbsp;000&nbsp;руб.
						//- p.investments__subtext сумма ориентировочная
			div.col-12.col-md-6
				div.investments__item
					div.investments__img
						img(src="images/icon-vertical__21.png", alt="")
					div.investments__info
						h3.investments__title РОЯЛТИ
						p.investments__text Отсутствует

		div.row
			div.col-12
				div.investments__action
					+btn({text: 'Стать дистрибьютером', type: 'link', url: '#', url: '#modal_contact'})(class="modal-link")

