div.modal.modal-form(id="modal_contact")
	div.modal-form__body
		p.modal-form__title Стать дистрибьютором
		span.modal-form__text Если вы хотите стать эксклюзивным дистрибьютором назаров фитнесс в своем городе заполните, пожалуйста, форму:

		include ../form/form.pug