div.modal.modal-accepted(id="modal_accepted")
	div.modal-form__body
		p.modal-form__title Спасибо!
		span.modal-form__text Ваша заявка принята 
			br
			|в&nbsp;ближайшее время мы&nbsp;с&nbsp;вами свяжемся