div.order-list
  div.order-list__header
    h1.h3 Оформление заказа

  ul.order-list__list(id="orderList")

  div.order-list__footer
    ul.order-list__footer-list
      li.order-list__footer-item
        span Итого:   
        b.order-list__total 0 ₽

      li.order-list__footer-item
        span Доставка:  
        b.order-list__delivery 0 ₽ 

      li.order-list__footer-item
        span Итого с учетом доставки: 
        b.order-list__total-delivery 0 ₽ 