.to-get__body .h2 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
}
.to-get__top {
	/* 2 Block model */
	margin-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 241px;
	}
}
.to-get__top-row {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	@media (min-width: 1200px) {
		/* 2 Block model */
		justify-content: flex-start;
	}
}
.to-get__item {
	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin-bottom: 30px;

	/* 3 Typography */
	text-align: center;
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 270px;
		margin-right: 14px;
		margin-bottom: 0;
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 300px;
	}
}
.to-get__item-img {
	/* 2 Block model */
	display: block;
	width: 94px;
	margin-bottom: 40px;
}
.to-get__item-text {
	/* 2 Block model */
	max-width: 300px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	color: $color-white;
	text-transform: uppercase;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */