section.to-get(id="where-to-ge")
	div.container
		div.row
			div.col-12
				div.to-get__body
					h2.h2 ГДЕ МОЖНО ПРИОБРЕСТИ?


	div.to-get__top
		div.container
			div.row
				div.col-12.col-md-6.col-xl-3
					div.to-get__item
						img.to-get__item-img(src="images/to-get__img-iten-01.png", alt="МАГАЗИН")
						p.to-get__item-text в магазинах спортивного питания
				div.col-12.col-md-6.col-xl-3
					div.to-get__item
						img.to-get__item-img(src="images/to-get__img-iten-02.png", alt="ФИТНЕС-КЛУБЫ")
						p.to-get__item-text в фитнес&#8209;клубах и спортшколах
				div.col-12.col-md-6.col-xl-3
					div.to-get__item
						img.to-get__item-img(src="images/to-get__img-iten-03.png", alt="МАГАЗИНЫ ЗДОРОВОЙ ЕДЫ")
						p.to-get__item-text в магазинах 
							br
							|здоровой еды
				div.col-12.col-md-6.col-xl-3
					div.to-get__item
						img.to-get__item-img(src="images/to-get__img-iten-04.png", alt="")
						p.to-get__item-text В ИНТЕРНЕТ-МАГАЗИНЕ 
							a.link(href="www.nazarov-fitness.com" target="_blank") www.nazarov&#8209;fitness.com