.audience {
	/* 2 Block model */
	padding-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 120px;
	}
}
.audience h2 {
	/* 2 Block model */
	margin-bottom: 68px;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */