section.audience
	div.container
		div.row
			div.col-12
				h2.h2 КАК РАБОТАЕТ БИЗНЕС

		div.row.no-gutters.audience--mb68
			div.col-4
				div.audience__item
					div.audience__top
						img(src="images/audience__img-01.png", alt="ФИТНЕС КЛУБЫ")
					div.audience__text ФИТНЕС КЛУБЫ
			div.col-4
				div.audience__item
					div.audience__top
						img(src="images/audience__img-02.png", alt="СПОРТИВНЫЕ СЕКЦИИ")
					div.audience__text СПОРТИВНЫЕ СЕКЦИИ
			div.col-4
				div.audience__item
					div.audience__top
						img(src="images/audience__img-03.png", alt="СТАДИОНЫ")
					div.audience__text СТАДИОНЫ
		div.row.no-gutters.audience--mb68
			div.col-6
				div.audience__item.audience__item--left
					div.audience__top
						img(src="images/audience__img-04.png", alt="МАГАЗИНЫ СПОРТИВНОГО ПИТАНИЯ")
					div.audience__text МАГАЗИНЫ
						br
						|СПОРТИВНОГО ПИТАНИЯ
			div.col-6
				div.audience__item.audience__item--right
					div.audience__top
						img(src="images/audience__img-05.png", alt="МАГАЗИНЫ ЗДОРОВОГО ПИТАНИЯ")
					div.audience__text МАГАЗИНЫ
						br
						|ЗДОРОВОГО ПИТАНИЯ
		div.row.no-gutters
			div.col-12
				div.audience__item
					div.audience__top
						img(src="images/audience__img-06.png", alt="ЛЮДИ ВЕДУЩИЕ ЗДОРОВЫЙ ОБРАЗ ЧЕРЕЗ ИНТЕРНЕТ МАГАЗИН")
					div.audience__text ВСЕ ЛЮДИ,
						br
						|ВЕДУЩИЕ ЗДОРОВЫЙ ОБРАЗ ЖИЗНИ
						br
						|(ЧЕРЕЗ ИНТЕРНЕТ МАГАЗИН)