section.main-store
	div.container
		div.row
			div.col-12 
				h1.h1-36.main-store__title Первые блюда
		div.row
			div.col-12.col-lg-8.order-2.order-lg-1
				ul.main-store__catalog
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
					li.main-store__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Фо бо',
							desc: 'Классика вьетнамской кухни, суп-лапша из говядины',
							price: '183',
							calories: '266 ккал'
						})
			div.col-12.col-lg-4.order-1.order-lg-2
				div.main-store__sidebar
					button(id="clearData") Clear data
					include ../shop-sidebar/shop-sidebar.pug

	div.main-store__subscription
		include ../subscription-form/subscription-form.pug

	div.main-store__delivery
		include ../delivery/delivery.pug

