.input {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.input label {
	/* 2 Block model */
	padding: 0;
	margin: 0;
	margin-bottom: 4px;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	color: #4f4f4f;
}
.input input {
	/* 2 Block model */
	padding: 14px 10px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #4f4f4f;

	/* 4 Visual */
	border: 1px solid #333333;
}
.input input::-webkit-input-placeholder {
	/* 3 Typography */
	color: $color-black200;
}
.input input::-moz-placeholder {
	/* 3 Typography */
	color: $color-black200;
	text-overflow: ellipsis;

	/* 4 Visual */
	opacity: 1;
}
.input input:-moz-placeholder {
	/* 3 Typography */
	color: $color-black200;
	text-overflow: ellipsis;

	/* 4 Visual */
	opacity: 1;
}
.input input:-ms-input-placeholder {
	/* 3 Typography */
	color: $color-black200;
	text-overflow: ellipsis;
}
.input input[placeholder] {
	/* 3 Typography */
	text-overflow: ellipsis;
}
.input input:hover {
	/* 4 Visual */
	cursor: pointer;
	opacity: 0.7;
}

@import "--form/--form";
