section.dishes
	div.container
		div.row
			div.col-12
				h2.h2 ПОЧЕМУ НАШИ БЛЮДА ТАКИЕ ВКУСНЫЕ?
		div.row
			div.col-12.col-md-4
				div.dishes__item
					+icon-vertical({img: 'icon-vertical__03.png', alt: 'Здоровая пища', text: 'Мы&nbsp;используем только качественные продукты и&nbsp;постоянно совершенствуем технологии приготовления.'})(class="icon-vertical--md")
			div.col-12.col-md-4
				div.dishes__item
					+icon-vertical({img: 'icon-vertical__04.png', alt: 'Изготовление блюд',  text: 'Наши блюда разработаны по&nbsp;традиционным рецептам и&nbsp;не&nbsp;содержат в&nbsp;составе искуственных красителей, консервантов, ароматизаторов и&nbsp;усилителей вкуса.'})(class="icon-vertical--md")
			div.col-12.col-md-4
				div.dishes__item
					+icon-vertical({img: 'icon-vertical__05.png', alt: 'Хранение',  text: 'Продукция поставляется уже готовой и&nbsp;хранится при температуре &minus;18С, что дает возможность сохранить все вкусовые качества.'})(class="icon-vertical--md")