.btn--black {
	/* 2 Block model */
	padding: 8px 24px;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #ffffff;

	/* 4 Visual */
	border-radius: 3px;
	background-color: $color-black200;
	border: 1px solid $color-black200;
}
.btn--black:hover,
.btn--black:focus,
.btn--black:active {
	/* 3 Typography */
	color: #ffffff;

	/* 4 Visual */
	background-color: #0F1428;
	border: 1px solid #0F1428;
}
