section.description(id="description")
	div.container
		div.row
			div.col-12
				h2.h2 ПОЧЕМУ НАЗАРОВ ФИТНЕС?

	div.description__body
		div.container
			div.row
				div.col-12.col-md-12.col-lg-6.col-xl-8
					img.img(src="images/description__img-01.jpg", alt="Дмитрий Назаров", title="Дмитрий Назаров")

				div.col-12.col-md-12.col-lg-6.col-xl-4
					p.text 
						span.description__text-blue 
							b Дмитрий Назаров
						|&nbsp;&mdash; вице-чемпион Москвы и&nbsp;Московской области по&nbsp;бодибилдингу, абсолютный чемпион Смоленской области, абсолютный чемпион по&nbsp;версии CROCUS FITNESS CUP 2018&nbsp;года.
					p.text Дмитрий работает тренером в&nbsp;одном из&nbsp;фитнес-клубов Москвы.
					p.text Именно благодаря его энтузиазму и&nbsp;творческому подходу родился этот проект!
					p.text Багаж накопленных знаний по&nbsp;функциональному питанию лег в&nbsp;основу разработки ассортимента блюд не&nbsp;только для спортсменов, но&nbsp;и&nbsp;для всех людей, стремящихся соблюдать необходимый баланс белков, жиров и&nbsp;углеводов, потребляемых в&nbsp;течение дня.
					p.text Производство блюд Назаров Фитнес осуществляет 
						span.description__text-blue 
							b компания ГРАНД
						|, расположенная в&nbsp;городе Златоусте Челябинской области.
					p.text Сегодня компания ГРАНД&nbsp;&mdash; это современное новое оборудование, просторные цеха и&nbsp;опытный персонал.
					p.text Специалисты, работающие в&nbsp;этой компании, еще в&nbsp;далеком 2006 году впервые в&nbsp;России освоили технологию производства быстрозамороженных первых блюд. И&nbsp;вновь прорыв!
					p.text Компания ГРАНД предлагает уникальную инновацию, которая превращает любимые блюда в&nbsp;настоящий суперфуд!
					p.text Назаров Фитнес использует только органические продукты для своих блюд.
					p.text Оригинальные пасты и соусы для блюд азиатской кухни напрямую импортируются от лучших мировых производителей. 
					p.text Мы&nbsp;тщательно отбираем поставщиков, и&nbsp;поэтому вся наша продукция производится 
						span.description__text-blue
							b без усилителей вкуса, ГМО
						|, искусственных красителей, ароматизаторов и&nbsp;консервантов!
					p.text Это на&nbsp;100% натуральные блюда!


	div.description__bottom
		div.container
			div.row
				div.col-12.col-md-4
					div.description__item
						img(src="images/description__img-item-01.png", alt="производство")
						p.description__text СОБСТВЕННОЕ ПРОИЗВОДСТВО
				div.col-12.col-md-4
					div.description__item
						img(src="images/description__img-item-02.png", alt="разработка")
						p.description__text АВТОРСКАЯ РАЗРАБОТКА
				div.col-12.col-md-4
					div.description__item
						img(src="images/description__img-item-03.png", alt="упаковка")
						p.description__text ЭКОЛОГИЧНАЯ УПАКОВКА