section.description
	div.container
		h2.h2 ПОЧЕМУ НАЗАРОВ ФИТНЕС?

		div.description__body
			div.description__left
				p.text
					span.description__text-blue 
						b Дмитрий Назаров
					b &nbsp;&mdash; вице-чемпион Москвы и&nbsp;Московской области по&nbsp;бодибилдингу, абсолютный чемпион Смоленской области, абсолютный чемпион по&nbsp;версии CROCUS FITNESS CUP 2018&nbsp;года. Дмитрий работает тренером в&nbsp;одном из&nbsp;фитнес-клубов Москвы. Именно благодаря его энтузиазму и&nbsp;творческому подходу родился этот проект!
				p.text 
					b Багаж накопленных знаний по&nbsp;функциональному питанию лег в&nbsp;основу разработки ассортимента блюд не&nbsp;только для спортсменов, но&nbsp;и&nbsp;для всех людей, стремящихся соблюдать необходимый баланс белков, жиров и&nbsp;углеводов, потребляемых в&nbsp;течение дня. Производство блюд Назаров Фитнес осуществляет 
						span.description__text-blue компания ГРАНД
						|, расположенная в&nbsp;городе Златоусте Челябинской области. Сегодня компания ГРАНД&nbsp;&mdash; это современное новое оборудование, просторные цеха и&nbsp;опытный персонал.

			div.description__center
				img.img(src="images/description__img-01.jpg", alt="Дмитрий Назаров", title="Дмитрий Назаров")

			div.description__right
				p.text 
					b Специалисты, работающие в&nbsp;этой компании, еще в&nbsp;далеком 2006 году впервые в&nbsp;России освоили технологию производства быстрозамороженных первых блюд. И&nbsp;вновь прорыв!
				p.text 
					b Компания ГРАНД предлагает уникальную инновацию, которая превращает любимые блюда в&nbsp;настоящий суперфуд!
				p.text 
					b Назаров Фитнес использует только органические продукты для своих блюд. Оригинальные пасты и&nbsp;соусы для блюд азиатской кухни напрямую импортируются от&nbsp;лучших мировых производителей. Мы&nbsp;тщательно отбираем поставщиков, и&nbsp;поэтому вся наша продукция производится 
						span.description__text-blue без усилителей вкуса, ГМО
						|, искусственных красителей, ароматизаторов и&nbsp;консервантов! Это на&nbsp;100% натуральные блюда!

		div.description__bottom
			div.description__item
				img(src="images/description__img-item-01.png", alt="производство")
				p.description__text СОБСТВЕННОЕ ПРОИЗВОДСТВО

			div.description__item
				img(src="images/description__img-item-02.png", alt="разработка")
				p.description__text АВТОРСКАЯ РАЗРАБОТКА

			div.description__item
				img(src="images/description__img-item-03.png", alt="упаковка")
				p.description__text ЭКОЛОГИЧНАЯ УПАКОВКА