section.product-page
	div.container
		div.row
			div.col-12.col-md-5
				h1.h1-36.product-page__title.product-page__desctop-show Том Ям&nbsp;с&nbsp;фишболами
				p.text-16.product-page__subtitle.product-page__desctop-show вес нетто: 350 г
				div.product-page__img
					img(src="images/product-page__tom_yam_s_fishbolami.png" alt="Суп тайский Том Ям" title="Суп тайский Том Ям")

			div.col-12.col-md-7
				div.product-page__body
					h1.h1-36.product-page__title.product-page__mobile-show Том Ям&nbsp;с&nbsp;фишболами
					p.text-16.product-page__subtitle.product-page__mobile-show вес нетто: 350 г

					div.product-page__composition
						span.text-16.product-page__composition-title
							strong Состав:
						p.text-14.product-page__composition-text вода питьевая, фишболы белковые из&nbsp;лосося( филе горбуши, филе лосося, белок яичный, концентрированный сывороточный белок, соль, специи (перец черный молотый, лук репчатый, сок лайма сухой, кожура лимона, куркума), грибы вешенки свежие, паста Том&nbsp;Ям ( лемонграсс, соевое масло, лук-шалот, галангал, красный перец чили сушеный, чеснок, мякоть тамаринда, соль, регулятор кислотности лимонная кислота, усилитель вкуса и&nbsp;аромата глутамат натрия, рыбный соус ( экстракт анчоуса, соль, сахар), креветочная паста ( креветки, соль), каффир-лайм), томаты свежие, лук репчатый свежий, молоко кокосовое (кокосовое молоко94%, мальтодекстрин казеинат натрия (молочный)), лайм свежий, рыбный соус ( экстракт анчоуса, соль, вода), сахар тростниковый, паста Чили (сахар, лук, чеснок, соевое масло, перец чили, креветочный порошок, рыбный соус ( экстракт анчоуса, соль, вода), соль, усилитель вкуса и&nbsp;аромата глутамат натрия), имбирь свежий, кинза свежая, листья кафир-лайма, соль.
							//- br
							//- a.link.link--black(href="#" target="_blank")

						div.product-page__composition-info
							div.product-page__composition-left
								div.product-page__composition-value
									p.text-16.product-page__composition-info-title
										b Пищевая ценность на 100 г:
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe 
											span белки
										p.text-14.text-14--black.product-page__value 7,21 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span жиры
										p.text-14.text-14--black.product-page__value 4,56 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span углеводы
										p.text-14.text-14--black.product-page__value 5,19 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span калории
										p.text-14.text-14--black.product-page__value 86,3
							div.product-page__composition-right
								div.product-page__composition-value
									p.text-16.product-page__composition-info-title
										b Пищевая ценность на 350 г:
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe 
											span белки
										p.text-14.text-14--black.product-page__value 25,25 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span жиры
										p.text-14.text-14--black.product-page__value 15,97 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span углеводы
										p.text-14.text-14--black.product-page__value 18,15 г
									div.product-page__composition-component
										p.text-14.text-14--black.product-page__dashe
											span калории
										p.text-14.text-14--black.product-page__value 302,2
					div.product-page__action
						div.product-page__action-buy
							span.product-page__price 250 p.
							+quantity({})
						div.product-page__increase
							+btn({text: 'Добавить в корзину', data_id: 'tom_yam_s_fishbolami'})(class="btn--green addToCart")

	div.product-page__tabs
		div.container
			div.row
				div.col-12 
					+tabs([
						{url: '#tab-1', link: 'Описание', class: 'tabs__link--active'},
						{url: '#tab-2', link: 'Приготовление'},
						{url: '#tab-3', link: 'Характеристики'}
					])

					div.product-page__tab.product-page__tab--active(id='tab-1')
						div.product-page__tab-body
							p.text-14.text-14--color-1 Том Ям&nbsp;с&nbsp;полным правом уже можно назвать любимым супом россиян.
							p.text-14.text-14--color-1 Огромное количество разнообразных рецептов только подогревают интерес к&nbsp;этому чуду тайской кухни!
							p.text-14.text-14--color-1 Назаров Фитнес предлагает Вам уникальный Том Ям&nbsp;с&nbsp;белковыми фишболами из&nbsp;лосося.
							p.text-14.text-14--color-1 Здоровье и&nbsp;наслаждение вкусом в&nbsp;одной чашке супа!
							p.text-14.text-14--color-1 Побалуйте себя и&nbsp;своих близких волнующим и&nbsp;завораживающим вкусом Востока!
					div.product-page__tab(id='tab-2') 
						div.product-page__tab-body
							p.text-14.text-14--color-1 1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.
							p.text-14.text-14--color-1 2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.

					div.product-page__tab(id='tab-3')
						div.product-page__tab-body
							p.text-14.text-14--color-1 Вес нетто: 350 г <br>Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17.<br>Тел.: +7(3513)62-00-67
							br
							p.text-14.text-14--color-1 ТУ 10.89.11-017-19421968-2020

