.icon {
	/* 2 Block model */
	display: inline-block;
	width: 16px;
	height: 16px;
}
.icon--17 {
	width: 17px;
	height: 10px;
}
.icon--18 {
	/* 2 Block model */
	width: 18px;
	height: 18px;
}
.icon--29 {
	/* 2 Block model */
	width: 29px;
	height: 26px;
}
