div.shop
  div.container.container--shop
    div.row
      div.col-12.col-md-3
        include ../shop-sidebar/shop-sidebar.pug

      div.shop__body.col-12.col-md-8
        div.shop__header
          h1.h2 Первые блюда 

        div.shop__catalog
          include ../shop-catalog/shop-catalog.pug

    div.row
      div.col-12 
        div.shop__info
          h2.h2 Оплата
          p.text Вы можете оплатить заказ наличными курьеру или банковской картой через терминал, который находится у курьера.

    div.row
      div.col-12
        div.shop__info
          h2.h2 Доставка
          p.text Доставка осуществляется после подтверждения заказа и согласования даты и времени.
          p.text За 30 минут до приезда курьер позвонит Вам для подтверждения доставки.
          p.text Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.
          p.text Все сотрудники склада и службы доставки проходят ежедневные медосмотры.
          p.text На складе и во время доставки соблюдается необходимый температурный режим, вся продукция герметично упакована, транспортная тара опломбирована.