section.shop
	div.container
		div.row
			div.col-12 
				h1.h1-36.shop__title Первые блюда

		div.row
			div.col-12.col-lg-8.order-2.order-lg-1
				ul.shop__catalog
					li.shop__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ',
							desc: 'Борщ с митболами из говядины белковыми',
							price: '0',
							calories: '252,2 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'solyanka_s_mitbolami',
							title: 'Солянка',
							desc: 'Солянка с митболами из говядины белковыми',
							price: '0',
							calories: '258 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'suplapsha_s_mitbolami',
							title: 'Суп лапша куриная',
							desc: 'Суп-лапша с митболами из курицы белковыми',
							price: '0',
							calories: '348,5 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'lagman_s_mitbolami',
							title: 'Лагман',
							desc: 'Лагман с митболами из говядины белковыми',
							price: '0',
							calories: '266,2 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'tom_yam_s_fishbolami',
							title: 'Том Ям',
							desc: 'Том Ям с фишболами из лосося белковыми',
							price: '0',
							calories: '302,2 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'tom_kkha_s_mitbolami',
							title: 'Том Кха',
							desc: 'Том Кха с митболами из курицы белковыми',
							price: '0',
							calories: '275,9 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'ma_po_tofu_s_farshem',
							title: 'Ма По Тофу',
							desc: 'Ма По Тофу с фаршем из говядины белковым',
							price: '0',
							calories: '271,1 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'fo_s_mitbolami',
							title: 'Фо с митболами',
							desc: 'Фо с митболами из говядины белковыми',
							price: '0',
							calories: '348,7 ккал'
						})
					li.shop__catalog-item
						+shop-item({
							id: 'miso_s_fishbolami',
							title: 'Мисо',
							desc: 'Мисо с фишболами из лосося белковыми',
							price: '0',
							calories: '213,7 ккал'
						})
			div.col-12.col-lg-4.order-1.order-lg-2
				div.shop__sidebar
					button(id="clearData") Clear data
					include ../shop-sidebar/shop-sidebar.pug

	div.shop__subscription
		include ../subscription-form/subscription-form.pug

	div.shop__delivery
		include ../delivery/delivery.pug

