section.page-product
	div.container
		div.row
			div.col-12
				div.page-product__breadcrumbs
					+breadcrumbs({items:['Каталог','Оформление заказа']})
	div.page-product__item
		+product-page({
			img: 'borshch_s_mitbolami.jpg',
			title: 'Борщ с митболами из говядины белковыми',
			text: '1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.<br>'
			})
	div.page-product__catalog
		div.container
			div.row
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
				div.col-12.col-md-3
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ с митболами из говядины белковыми',
							price: '0'
						})
	div.page-product__catalog
		div.container
			div.row
				div.col-12
					//- include subscription
	div.page-product__delivery
		div.container
			div.row
				div.col-12.col-md-4
					div.page-product__delivery-item
				div.col-12.col-md-4
					div.page-product__delivery-item
				div.col-12.col-md-4
					div.page-product__delivery-item
	div.page-product__bottom
		div.container
			div.row
				div.col-12
					//- include link-catalog


