section.page-product
	div.container
		div.row
			div.col-12
				div.page-product__breadcrumbs
					+breadcrumbs({items:[{url: '/shop', text: 'Каталог'}, {text: 'Том Кха с митболами'}]})
	div.page-product__item
		include ../product-page/product-page--tom_kkha_s_mitbolami.pug
	div.page-product__catalog
		div.container
			div.row
				div.col-12
					h2.h2-32.page-product__title-2 Каталог
			div.row
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'borshch_s_mitbolami',
							title: 'Борщ',
							desc: 'Борщ с митболами из говядины белковыми',
							price: '0',
							calories: '252,2 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'solyanka_s_mitbolami',
							title: 'Солянка',
							desc: 'Солянка с митболами из говядины белковыми',
							price: '0',
							calories: '258 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'suplapsha_s_mitbolami',
							title: 'Суп лапша куриная',
							desc: 'Суп-лапша с митболами из курицы белковыми',
							price: '0',
							calories: '348,5 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'lagman_s_mitbolami',
							title: 'Лагман',
							desc: 'Лагман с митболами из говядины белковыми',
							price: '0',
							calories: '266,2 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'tom_yam_s_fishbolami',
							title: 'Том Ям',
							desc: 'Том Ям с фишболами из лосося белковыми',
							price: '0',
							calories: '302,2 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'ma_po_tofu_s_farshem',
							title: 'Ма По Тофу',
							desc: 'Ма По Тофу с фаршем из говядины белковым',
							price: '0',
							calories: '271,1 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'fo_s_mitbolami',
							title: 'Фо с митболами',
							desc: 'Фо с митболами из говядины белковыми',
							price: '0',
							calories: '348,7 ккал'
						})
				div.col-12.col-md-6.col-lg-4.col-xl-3.page-product__flex
					div.page-product__catalog-item
						+shop-item({
							id: 'miso_s_fishbolami',
							title: 'Мисо',
							desc: 'Мисо с фишболами из лосося белковыми',
							price: '0',
							calories: '213,7 ккал'
						})
	div.page-product__form
		include ../subscription-form/subscription-form.pug

	div.page-product__delivery
		include ../delivery/delivery.pug

	div.page-product__bottom
		div.container
			div.row
				div.col-12
					+link-icon({url: '/shop', text: 'Вернуться в каталог'})



