section.info(id="info")
	div.container
		div.row
			div.col-12
				h2.h2 о проекте
	
	div.info__body
		div.container
			div.row
				div.col-12.col-lg-7.col-xl-6
					div.info__img
						img(src="images/info__img-left.jpg", alt="Дмитрий Назаров", title="Дмитрий Назаров")
				div.col-12.col-lg-5.col-xl-6
					p.lead Назаров Фитнес&nbsp;&mdash; это уникальный симбиоз проверенных временем&nbsp;пищевых технологий и&nbsp;быстрорастущей рыночной ниши&nbsp;&mdash; индустрии фитнеса и&nbsp;здорового питания.
					p.text Приходилось&nbsp;ли Вам когда-либо заниматься в&nbsp;фитнес-клубах, или просто контролировать количество потребляемых калорий, белков, жиров и&nbsp;углеводов?
					p.text Если&nbsp;да, тогда&nbsp;Вы понимаете, как сложно набрать необходимое количество белка в&nbsp;течение дня или сразу после тренировки.
					p.text Как правило, эта проблема решается легко и&nbsp;просто сухими белковыми коктейлями и&nbsp;шейкером. Достаточно эффективно, но&nbsp;через непродолжительное время голод вновь дает о&nbsp;себе знать. Да&nbsp;и&nbsp;сладкие коктейли&nbsp;&mdash; скорее временная пищевая заплатка, чем полноценный прием пищи.
					p.text Назаров Фитнес&nbsp;&mdash; первая российская франшиза, которая позволяет зарабатывать деньги на&nbsp;предоставлении всем желающим полноценного питания ресторанного уровня, обогащенного высококачественным белком животного, сывороточного, яичного и&nbsp;растительного происхождения!
					p.text Наши блюда притягивают, как магнит. Попробовав раз, через неделю возникает стойкое желание приобрести вновь! И&nbsp;в&nbsp;каждой порции 25&nbsp;грамм белка!
					p.text Инновация от&nbsp;нашей компании заключается в&nbsp;особой форме подачи белка. Мы&nbsp;разработали вкусные, насыщенные белком митболы и&nbsp;фишболы, которые составляют &laquo;мясную&raquo; и&nbsp;&laquo;рыбную&raquo; компоненту наших блюд!
					p.text Теперь можно наслаждаться любимым Том Ямом или Фо&nbsp;Бо, Лагманом или Борщом, но&nbsp;при этом добавить в&nbsp;свой рацион необходимый белок!
					
	div.container
		div.row
			div.col-12
				div.info__lead
					p.lead И&nbsp;самое главное, не&nbsp;нужно покупать дорогие рационы от&nbsp;завтрака до&nbsp;ужина,
					p.lead ведь наши блюда хранятся в&nbsp;морозильнике и&nbsp;употребляются по&nbsp;мере необходимости.

	div.info__bottom
		div.container
			div.row
				div.col-12.col-md-4
					div.info__item
						img(src="images/info__img-item-01.png", alt="митболы из говядины")
						h3.info__item-title митболы из&nbsp;говядины
						p.info__item-text натуральный белок говядины 
							br
							|сывороточный белок 
							br
							|яичный белок
				div.col-12.col-md-4
					div.info__item
						img(src="images/info__img-item-02.png", alt="митболы из курицы")
						h3.info__item-title митболы из&nbsp;курицы
						p.info__item-text натуральный белок курицы 
							br
							|сывороточный белок 
							br
							|яичный белок
				div.col-12.col-md-4
					div.info__item
						img(src="images/info__img-item-03.png", alt="фишболы из лосося")
						h3.info__item-title фишболы из&nbsp;лосося
						p.info__item-text натуральный белок рыбы
							br
							|сывороточный белок
							br
							|яичный белок