footer.footer.footer--desc
  div.container
    p.lead Больше информации на&nbsp;сайте 
      a.link(href="mailto:nazarov.fitness@gmail.com") www.nazarov&#8209;fitness.com
      |  и&nbsp;по&nbsp;телефону&nbsp;
      a.link(href="tel:+74959227206") +7&nbsp;(495)&nbsp;922&#8209;72&#8209;06


