footer.footer
  div.container
    p.footer__text 
      span &copy; 
      |2020 Франшиза Назаров Фитнес
    p.footer__text | телефон 
      a.link(href="tel:+74959227206") 8 (495) 922-72-96 
      | | e-mail: 
      a.link(href="mailto:nazarov.fitness@gmail.com") nazarov.fitness@gmail.com