.footer {
	/* 2 Block model */
	padding-top: 68px;
	padding-bottom: 120px;

	/* 4 Visual */
	background-color: #232846;
}
.footer__text {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	color: #FFFFFF;
	text-align: center;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 34px;
		line-height: 44px;
	}
}
.footer__text span {
	/* 2 Block model */
	display: inline-block;
	margin-right: 12px;

	/* 3 Typography */
	font-size: 50px;
	vertical-align: bottom;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */