div.footer.footer--in
  div.container
    div.row
      div.col-12
        div.footer__text
          p.text © 2020, ООО «ГРАНД»
          p.text Все права защищены
          p.text Юридический адрес: 456200, Челябинская область, г. Златоуст, ул. Косотурская, д. 17,
          p.text тел. +7 (351) 362-00-67, +7 (351) 362-00-80
 
        br
        
        p.text.text--sm Изготовитель вправе менять комплектацию и характеристики товара без предварительного уведомления. 
        p.text.text--sm Пожалуйста, уточняйте информацию у менеджеров.
        p.text.text--sm Интернет ресурс носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса РФ.