.footer {
	/* 2 Block model */
	padding-top: 60px;
	padding-bottom: 89px;

	/* 3 Typography */
	text-align: center;

	/* 4 Visual */
	border-top: 1px solid #484848;
}
.footer .link:first-child {
	/* 3 Typography */
	color: $color-white;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */