footer.footer
  div.container
    p.lead &copy;&nbsp;2020 Франшиза Назаров&nbsp;Фитнес
    p.text | телефон 
      a.link(href="tel:+74959227206") 8 (495) 922-72-96 
      | | e&#8209;mail:&nbsp;
      a.link(href="mailto:nazarov.fitness@gmail.com") nazarov.fitness@gmail.com