section.menu-product(id="menu-product")
	div.container
		div.row
			div.col-12
				div.menu-product__body
					h2.h2 НАШЕ МЕНЮ
		
		div.row 
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-01.png", alt="ЛАГМАН", title="ЛАГМАН")
					h3.menu-product__item-title ЛАГМАН
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-02.png", alt="СОЛЯНКА", title="СОЛЯНКА")
					h3.menu-product__item-title СОЛЯНКА
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-03.png", alt="БОРЩ", title="БОРЩ")
					h3.menu-product__item-title БОРЩ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-04.png", alt="МИТБОЛЫ ИЗ ГОВЯДИНЫ", title="МИТБОЛЫ ИЗ ГОВЯДИНЫ")
					h3.menu-product__item-title МИТБОЛЫ 
						br
						|ИЗ ГОВЯДИНЫ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-05.png", alt="МА ПО ТОФУ", title="МА ПО ТОФУ")
					h3.menu-product__item-title МА ПО ТОФУ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-06.png", alt="ТОМ ЯМ", title="ТОМ ЯМ")
					h3.menu-product__item-title ТОМ ЯМ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-07.png", alt="ТОМ КХА", title="ТОМ КХА")
					h3.menu-product__item-title ТОМ КХА
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-08.png", alt="МИТБОЛЫ ИЗ КУРИЦЫ", title="МИТБОЛЫ ИЗ КУРИЦЫ")
					h3.menu-product__item-title МИТБОЛЫ 
						br
						|ИЗ КУРИЦЫ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-09.png", alt="МИСО", title="МИСО")
					h3.menu-product__item-title МИСО
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-10.png", alt="ФО БО", title="ФО БО")
					h3.menu-product__item-title ФО БО
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-11.png", alt="ПЕЛЬМЕНИ ОРЕХОВЫЕ", title="ПЕЛЬМЕНИ ОРЕХОВЫЕ")
					h3.menu-product__item-title ПЕЛЬМЕНИ 
						br
						|ОРЕХОВЫЕ
			div.col-6.col-md-4.col-lg-3
				div.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-12.png", alt="ФИШБОЛЫ ИЗ ЛОСОСЯ", title="ФИШБОЛЫ ИЗ ЛОСОСЯ")
					h3.menu-product__item-title ФИШБОЛЫ
						br
						|ИЗ ЛОСОСЯ