section.menu-product
	div.container
		div.menu-product__body
			h2.h2 НАШЕ МЕНЮ
			
			ul.menu-product__row
				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-01.png", alt="ЛАГМАН", title="ЛАГМАН")
					h3.menu-product__item-title ЛАГМАН
				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-02.png", alt="СОЛЯНКА", title="СОЛЯНКА")
					h3.menu-product__item-title СОЛЯНКА

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-03.png", alt="БОРЩ", title="БОРЩ")
					h3.menu-product__item-title БОРЩ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-04.png", alt="МИТБОЛЫ ИЗ ГОВЯДИНЫ", title="МИТБОЛЫ ИЗ ГОВЯДИНЫ")
					h3.menu-product__item-title МИТБОЛЫ ИЗ ГОВЯДИНЫ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-05.png", alt="МА ПО ТОФУ", title="МА ПО ТОФУ")
					h3.menu-product__item-title МА ПО ТОФУ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-06.png", alt="ТОМ ЯМ", title="ТОМ ЯМ")
					h3.menu-product__item-title ТОМ ЯМ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-07.png", alt="ТОМ КХА", title="ТОМ КХА")
					h3.menu-product__item-title ТОМ КХА

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-08.png", alt="МИТБОЛЫ ИЗ КУРИЦЫ", title="МИТБОЛЫ ИЗ КУРИЦЫ")
					h3.menu-product__item-title МИТБОЛЫ ИЗ КУРИЦЫ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-09.png", alt="МИСО", title="МИСО")
					h3.menu-product__item-title МИСО

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-10.png", alt="ФО БО", title="ФО БО")
					h3.menu-product__item-title ФО БО

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-11.png", alt="ПЕЛЬМЕНИ ОРЕХОВЫЕ", title="ПЕЛЬМЕНИ ОРЕХОВЫЕ")
					h3.menu-product__item-title ПЕЛЬМЕНИ ОРЕХОВЫЕ

				li.menu-product__item
					img.menu-product__item-img(src="images/menu-product__img-iten-12.png", alt="ФИШБОЛЫ ИЗ ЛОСОСЯ", title="ФИШБОЛЫ ИЗ ЛОСОСЯ")
					h3.menu-product__item-title ФИШБОЛЫ ИЗ ЛОСОСЯ