.link-icon {
	/* 2 Block model */
	display: inline-flex;
	flex-direction: row;
	align-items: center;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #7e7e7e;
	text-decoration: none;

	/* 4 Visual */
	outline: none;

	/* 5 Animation */
	transition: all 0.4s ease;
}
.link-icon__text {
	/* 2 Block model */
	display: inline-block;
	margin-left: 15px;
}
.link-icon:hover,
.link-icon:focus,
.link-icon:active {
	/* 3 Typography */
	text-decoration: underline;

	/* 4 Visual */
	opacity: 0.7;
}
