div.partners
	div.partners__item
		div.partners__top ТНК-ВР
		div.partners__img
			img(src="images/partners__img-01.png", alt="ТНК-ВР")

	div.partners__item
		div.partners__top ЛУКОЙЛ
		div.partners__img
			img(src="images/partners__img-02.png", alt="ЛУКОЙЛ")

	div.partners__item
		div.partners__top РОСНЕФТЬ
		div.partners__img
			img(src="images/partners__img-03.png", alt="РОСНЕФТЬ")

	div.partners__item
		div.partners__top ТАТНЕФТЬ
		div.partners__img
			img(src="images/partners__img-04.png", alt="ТАТНЕФТЬ")

	div.partners__item
		div.partners__top AGIP
		div.partners__img
			img(src="images/partners__img-05.png", alt="AGIP")