doctype html
html(lang="ru")
	include include/head.pug
	+head('Магазин')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header--shop.pug

			+product-page({
				img: 'borshch_s_mitbolami.jpg',
				title: 'Борщ с митболами из говядины белковыми',
				text: `
					<p class="text">Согласно легенде, история этого блюда берет свое начало в Китае. При этом лагман считают своим национальным блюдом многие народы Средней Азии. Каждый из них вложил в это блюдо частичку своей души, традиций и старания. Но одно осталось неизменным: настоящий лагман готовят в казане и используют домашнюю лапшу!</p>

					<p class="text">В лагмане Назаров Фитнес – домашняя лапша и он готовится исключительно в казане!<br>
					А белковые митболы из говядины обеспечат Ваш организм необходимым протеином для новых достижений в спорте!</p>

					<p class="text">Вес нетто: 400 г<br>
					Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17.<br>
					Тел.: +7(3513)62-00-67</p>

					<p class="text">ТУ 10.89.11-017-19421968-2020</p>

					<p class="text">Состав: вода, митболы из говядины белковые ( говядина, лук репчатый, белок яичный, белок из говяжьего бульона, концентрированный сывороточный белок, соль, чеснок, перец черный молотый), перец болгарский свежий, морковь свежая, лук репчатый свежий, лапша яичная (мука в/с, яйцо куриное, растительное масло, соль), картофель свежий, сельдерей свежий, паста томатная, масло растительное, бульон говяжий концентрированный натуральный, чеснок сухой, соль, перец красный молотый, специи, лук зеленый свежий.</p>

					<p class="text">Пищевая и энергетическая ценности на 100 г:<br>
					Белки- 6,44 г, жиры- 3,90 г, углеводы- 4,91 г, ккал- 66,6<br>
					Пищевая и энергетическая ценности на порцию 400 г:<br>
					Белки-25,77 г, жиры- 15,61 г, углеводы- 19,63 г, ккал- 266,2</p>

					<p class="text">Условия хранения: 180 суток при температуре минус 18 градусов Цельсия</p>

					<p class="text">Приготовление:<br>
					1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.<br>
					2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.</p>
				`
			})

			include ../blocks/footer/footer--in.pug

			include ../blocks/city/city.pug

		include include/script.pug