doctype html
html(lang="ru")
	include include/head.pug
	+head('Назаров Фитнес')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header--desc.pug

			include ../blocks/top/top.pug

			include ../blocks/represent/represent.pug

			include ../blocks/desc-info/desc-info.pug

			include ../blocks/menu-product/menu-product--nache.pug 

			include ../blocks/making/making.pug 

			include ../blocks/business-works/business-works.pug

			include ../blocks/audience/audience.pug 

			include ../blocks/market/market.pug 

			include ../blocks/dishes/dishes.pug

			include ../blocks/advantages/advantages.pug

			include ../blocks/statistics/statistics.pug 

			include ../blocks/franchise/franchise.pug

			include ../blocks/investments/investments.pug

			include ../blocks/footer/footer--desc.pug

			include ../blocks/modal/modal.pug

			include ../blocks/modal/modal-accepted.pug

		include include/script.pug