doctype html
html(lang="ru")
	include include/head.pug
	+head('')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			include ../blocks/top/top.pug
			

		include include/script.pug