doctype html
html(lang="ru")
	include include/head.pug
	+head('Ма По Тофу с фаршем')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header--shop.pug

			include ../blocks/page-product/page-product--ma_po_tofu_s_farshem.pug

			include ../blocks/footer/footer--in.pug

			include ../blocks/city/city.pug

			include ../blocks/modal/modal--add-to-cart.pug

		include include/script.pug