doctype html
html(lang="ru")
	include include/head.pug
	+head('Магазин')

	body
		div.wrapper
			include ../blocks/mixins.pug

			include ../blocks/header/header--shop.pug

			include ../blocks/shop/shop.pug

			include ../blocks/footer/footer--in.pug

			include ../blocks/city/city.pug

			include ../blocks/modal/modal--add-to-cart.pug

		include include/script.pug