section.represent(id="represent")
  div.container
    div.row
      div.col-12
        h2.h2 Дорогие друзья!
    div.row
      div.col-12
        div.represent__body
          figure.represent__img 
            img(src="images/represent__img-01.png", alt="Игорь Байбулатов", title="Игорь Байбулатов")
            figcaption
              span.represent__img-title - Игорь Байбулатов -
              span.represent__img-desc руководитель проекта Назаров Фитнес&nbsp;в&nbsp;РФ
          p.text.text--18.text.text--18--18 Я&nbsp;очень рад познакомить вас с&nbsp;нашим новым эксклюзивным проектом здорового питания&nbsp;&mdash; Назаров Фитнес!
          p.text.text--18 Это уникальный симбиоз уже проверенных временем пищевых технологий и&nbsp;быстрорастущей рыночной ниши&nbsp;&mdash; индустрии фитнеса и&nbsp;здорового питания.
          p.text.text--18 Приходилось&nbsp;ли Вам когда-либо заниматься в&nbsp;фитнес-клубах, или&nbsp;же просто контро-лировать количество потребляемых с&nbsp;пищей калорий, белков, жиров и&nbsp;углеводов?
          p.text.text--18 Если&nbsp;да, тогда&nbsp;Вы понимаете какая большая проблема&nbsp;&mdash; набрать необходимое количество белка в&nbsp;течение дня или сразу после тренировки. Как правило, она решается сухими белковыми коктейлями и&nbsp;шейкером. Достаточно эффективно, но&nbsp;через непродолжительное время голод вновь дает о&nbsp;себе знать. Да&nbsp;и&nbsp;сладкие коктейли&nbsp;&mdash; скорее временная пищевая заплатка, чем полноценный прием пищи.
          p.text.text--18 Назаров Фитнес&nbsp;&mdash; первая российская франшиза, которая позволяет зарабатывать деньги на&nbsp;предоставлении всем желающим полноценного питания ресторанного уровня, обогащенного высококачественным белком животного, сывороточного, яичного и&nbsp;растительного происхождения!
          p.text.text--18 Наши блюда притягивают, как магнит. Попробовав раз, через неделю возникает стойкое желание приобрести вновь! И&nbsp;в&nbsp;каждой порции 25&nbsp;грамм белка!
          p.text.text--18 Инновация от&nbsp;нашей компании заключается в&nbsp;форме подачи белка. Мы&nbsp;разработали вкусные, насыщенные белком митболы и&nbsp;фиш-болы, которые составляют &laquo;мясную&raquo; и&nbsp;&laquo;рыбную&raquo; компоненту наших блюд. Теперь можно насладиться своим любимым Том Ямом или Фо&nbsp;Бо , Лагманом или Борщом, но&nbsp;при этом добавить в&nbsp;свой рацион такой необходимый протеин! А&nbsp;самое главное&nbsp;&mdash; не&nbsp;нужно покупать дорогие рационы от&nbsp;завтрака и&nbsp;до&nbsp;ужина. Поскольку наши блюда хранятся в&nbsp;морозильнике и&nbsp;употребляются по&nbsp;мере необходимости.
          p.text.text--18 Почему наш проект называется Назаров Фитнес?
          p.text.text--18 Все просто. Судьба свела нас с&nbsp;Дмитрием Назаровым&nbsp;&mdash; вице-чемпионом Москвы и&nbsp;Московской области по&nbsp;бодибилдингу, абсолютным чемпионом Смоленской области и&nbsp;чемпионом по&nbsp;версии CROCUS FITNESS CUP 2018 . Именно он&nbsp;вдохнул в&nbsp;проект жизнь, стал его лицом. Его опыт и&nbsp;знания стали фундаментом наших разработок и&nbsp;всей программы в&nbsp;целом.
          p.text.text--18 Присоединяйтесь к&nbsp;нашей команде, не&nbsp;упустите шанс стать нашим эксклюзивным дистрибьютором в&nbsp;своем городе!