div.form-subscription
	form.form-subscription__form(action="#" method="post")
		div.form-subscription__form-item
			+input({type: 'email', name: 'email_client', placeholder: 'Ваш Email'})(class="input--form")
		div.form-subscription__form-item
			+btn({text: 'отправить', type: 'submit'})(class="btn--black")