div.subscription-form
	div.container
		div.row
			div.col-12.col-md-10.offset-md-1
				div.subscription-form__body
					div.subscription-form__left
						h2.h2-32.subscription-form__title Получи скидку 
							span 10%
						p.text-14.text-14--color-1 Скидка на второй заказ при покупке от 12 порций
					div.subscription-form__rigt
						include ../form/form-subscription/form-subscription.pug