.contacts {
	/* 2 Block model */
	margin-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
}
.contacts__body .h2 {
	/* 2 Block model */
	margin-bottom: 45px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
}
.contacts__top {
	/* 2 Block model */
	margin-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 241px;
	}
}
.contacts__top-row {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	@media (min-width: 1200px) {
		/* 2 Block model */
		justify-content: flex-start;
	}
}
.contacts__item {
	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin-bottom: 30px;

	/* 3 Typography */
	text-align: center;
	@media (min-width: 1200px) {
		/* 2 Block model */
		width: 270px;
		margin-right: 14px;
		margin-bottom: 0;
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		width: 300px;
	}
}
.contacts__item-img {
	/* 2 Block model */
	display: block;
	width: 94px;
	margin-bottom: 40px;
}
.contacts__item-text {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	color: $color-white;
	text-transform: uppercase;
}
.contacts__bottom {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
	}
}
.contacts__bottom-left {
	/* 2 Block model */
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.contacts__bottom-right {
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 15px;
		padding-left: 20px;
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		padding-top: 58px;
		padding-left: 57px;
	}
}
.contacts__bottom-right .h2 {
	/* 1 Positioning */
	margin-bottom: 6px;

	/* 3 Typography */
	text-align: left;
}
.contacts__bottom-text {
	/* 2 Block model */
	margin-bottom: 25px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
}
.contacts__adress p {
	/* 2 Block model */
	margin-bottom: 8px;
}
.contacts__adress p:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.contacts__adress-title {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: $color-white;
}
.contacts__adress a {
	/* 3 Typography */
	text-decoration: none;

	/* 5 Animation */
	transition: all 0.4s;
}
.contacts__adress a:hover {
	/* 4 Visual */
	opacity: 0.7;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */