.contacts {
	/* 2 Block model */
	margin-bottom: 50px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 100px;
	}
}
.contacts__body {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
	}
}
.contacts-left {
	/* 2 Block model */
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: 30px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.contacts-right {
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-top: 15px;
		padding-left: 20px;
	}
	@media (min-width: 1400px) {
		/* 2 Block model */
		padding-top: 58px;
		padding-left: 57px;
	}
}
.contacts-right .h2 {
	/* 1 Positioning */
	margin-bottom: 6px;

	/* 3 Typography */
	text-align: left;
}
.contacts-text {
	/* 2 Block model */
	margin-bottom: 25px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 40px;
	}
}
.contacts__adress p {
	/* 2 Block model */
	margin-bottom: 8px;
}
.contacts__adress p:last-child {
	/* 2 Block model */
	margin-bottom: 0;
}
.contacts__adress-title {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: $color-white;
}
.contacts__adress a {
	/* 3 Typography */
	text-decoration: none;

	/* 5 Animation */
	transition: all 0.4s;
}
.contacts__adress a:hover {
	/* 4 Visual */
	opacity: 0.7;
}