section.contacts
	div.container
		div.contacts__body
			h2.h2 ГДЕ МОЖНО ПРИОБРЕСТИ?

			div.contacts__top
				div.contacts__top-row
					div.contacts__item
						img.contacts__item-img(src="images/contacts__img-iten-01.png", alt="МАГАЗИН")
						p.contacts__item-text в магазинах спортивного питания
					div.contacts__item
						img.contacts__item-img(src="images/contacts__img-iten-02.png", alt="ФИТНЕС-КЛУБЫ")
						p.contacts__item-text в фитнесс&#8209;клубах и спортшколах

					div.contacts__item
						img.contacts__item-img(src="images/contacts__img-iten-03.png", alt="МАГАЗИНЫ ЗДОРОВОЙ ЕДЫ")
						p.contacts__item-text в магазинах 
							br
							|здоровой еды


					div.contacts__item
						img.contacts__item-img(src="images/contacts__img-iten-04.png", alt="")
						p.contacts__item-text В ИНТЕРНЕТ-МАГАЗИНЕ 
							a.link(href="www.nazarov-fitness.com" target="_blank") www.nazarov&#8209;fitness.com


		div.contacts__bottom
			div.contacts__bottom-left
				include ../map/map.pug
			div.contacts__bottom-right
				p.h2 КАК С&nbsp;НАМИ СВЯЗАТЬСЯ
				p.text.contacts__bottom-text По&nbsp;всем вопросам приобретения продукции Назаров Фитнесс обращаться:

				div.contacts__adress
					p.contacts__adress-title Адрес представительства в&nbsp;Москве:
					p.text Научный проезд, д.8 с1, офис 540. БЦ&nbsp;&laquo;На&nbsp;Научном&raquo;
					p.contacts__adress-title По телефону: 
						a.text(href="tel:+74959227206") +7(495) 922-72-06
					p.contacts__adress-title Email: 
						a.text(href="mailto:nazarov.fitness@gmail.com ") nazarov.fitness@gmail.com