section.business-works(id="business-works")
  div.container
    div.row
      div.col-12
        div.business-works__top
          h2.h2 КАК РАБОТАЕТ БИЗНЕС
          div.business-works__img
            img(src="images/business-works__img-01.png", alt="список задач")
          h3.h3 ЗАДАЧА
          p.text Перед любым владельцем бизнеса стоит основная задача: максимально увеличить выручку своего предприятия, в&nbsp;том числе и&nbsp;за счет предоставления дополнительных услуг.
          div.business-works__img
            img(src="images/business-works__img-02.png", alt="список решений")

          h3.h3 решение
    div.row
      div.col-12.col-lg-6.col-xl-5.offset-xl-1
        ul.business-works__list
          li.business-works__item
            p.text 1. Вы&nbsp;договариваетесь с&nbsp;владельцем/администратором торговой точки о&nbsp;презентации проекта, оставляете буклет с&nbsp;подробным описанием предложения.
          li.business-works__item
            p.text 2. Доводите число потенциальных желающих принять участие в&nbsp;проекте до&nbsp;10.
          li.business-works__item
            p.text 3. Заключаете Договор ответ. хранения продукции или приобретаете собственную морозильную камеру.
          li.business-works__item
            p.text 4. Заключаете Договор логистических услуг с&nbsp;одной из&nbsp;транспортных компаний в&nbsp;Вашем городе или Договор аренды транспорта с&nbsp;водителем или приобретаете автомобиль-рефрижератор.
          li.business-works__item
            p.text 5. Заключаете Договор поставки с&nbsp;ООО ГРАНД, оплачиваете счета на&nbsp;поставку продукции и&nbsp;рекламных материалов.
          li.business-works__item
            p.text 6. Приобретаете морозильные лари с&nbsp;уже готовым брендированием.
      div.col-12.col-lg-6.col-xl-5
        ul.business-works__list
          li.business-works__item
            p.text 7. Получаете продукцию и&nbsp;проводите дегустацию в заинтересованных торговых точках.
          li.business-works__item
            p.text 8. Заключаете Договор поставки с&nbsp;предоставлением торгового оборудования.
          li.business-works__item
            p.text 9. Устанавливаете в&nbsp;торговую точку морозильный ларь и&nbsp;рекламные материалы.
          li.business-works__item
            p.text 10. Проводите обучение персонала торговой точки и&nbsp;объявляете стимулирующую акцию с&nbsp;персоналом.
          li.business-works__item
            p.text 11. Поставляете продукцию.
          li.business-works__item
            p.text 12. Проводите стимулирующую акцию для клиен-тов в&nbsp;первые две недели работы торговой точки.
    div.row 
      div.col-12.offset-xl-1
        div.business-works__bottom
        p.text Бизнес-модель Назаров Фитнес очень простая и&nbsp;ясная. Мы&nbsp;познакомим Вас с&nbsp;ней при личном общении.
          br
          |Приезжайте к&nbsp;нам в&nbsp;гости на&nbsp;дегустацию и&nbsp;встречу с&nbsp;руководителем проекта по&nbsp;адресу:
          br
          |г. Москва, Научный проезд, 8&nbsp;с.&nbsp;1, офис&nbsp;540.
          br
          |Тел. 
          a.link(href="tel:+74959227206") +7&nbsp;(495)&nbsp;922&#8209;72&#8209;06
        p.lead Пожалуйста, запишитесь предварительно на&nbsp;встречу!