.shop-sidebar-product__body {
	/* 2 Block model */
	display: flex;
	flex-direction: row;
	align-items: center;
}
.shop-sidebar-product__left {
	/* 2 Block model */
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	padding-right: 10px;
}
.shop-sidebar-product__canceling {
	/* 2 Block model */
	display: flex;
	margin-right: 17px;
}
.shop-sidebar-product__img {
	/* 2 Block model */
	flex: 0 0 50px;
	margin-right: 17px;
}
.shop-sidebar-product__img img {
	/* 2 Block model */
	display: block;
	width: 100%;
	max-width: 50px;
}
.shop-sidebar-product__info {
	/* 2 Block model */
	padding-top: 4px;
}
.shop-sidebar-product__title {
	/* 2 Block model */
	display: block;
}
.shop-sidebar-product__price {
	/* 2 Block model */
	display: block;
}
