mixin shop-sidebar-product(data)
	div.shop-sidebar-product
		div.shop-sidebar-product__body
			div.shop-sidebar-product__left
				div.shop-sidebar-product__canceling
					+icon('icon--cross', 'icon--18')
				div.shop-sidebar-product__img
					img(src="images/"+data.img, alt=data.alt)
				div.shop-sidebar-product__info
					span.text-14.text-14--black.shop-sidebar-product__title!=data.title
					span.text-14.shop-sidebar-product__price!=data.price
			div.shop-sidebar-product__right
				div.shop-sidebar-product__value
					+quantity({})(class="quantity--sidebar")