.text {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: $color-white;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 16px;
		line-height: 28px;
	}
}
.text-16 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: $color-black200;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 16px;
		line-height: 22px;
	}
}
.text-16-2 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	color: #717687;
}
.text-16-2--black {
	/* 3 Typography */
	color: $color-black200;
}
.text--18 {
	font-size: 16px;
	line-height: 24px;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 18px;
		line-height: 28px;
	}
}
.text-14 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #858585;
}
.text-14--color-1 {
	/* 3 Typography */
	color: #717687;
}
.text-14--black {
	/* 3 Typography */
	color: $color-black200;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */

.text--sm {
	/* 3 Typography */
	font-size: 12px;
	line-height: 18px;
}