section.making(id="making")
	div.container
		div.row
			div.col-12
				h2.h2 производство

		div.row
			div.col-6.col-md-4
				div.making__img-top.order-1
					img(src="images/making__img-01.png", alt="конвейер")
			div.col-6.col-md-4.offset-3.offset-md-0.order-3.order-md-2
				div.making__img-top.making__img-top--sm
					img(src="images/making__img-02.png", alt="вытяжка")
			div.col-6.col-md-4.order-2.order-md-3
				div.making__img-top
					img(src="images/making__img-03.png", alt="упаковщик")

		div.row
			div.col-12
				div.making__info
					ul.making__info__list
						li.making__info__item
							p.text Производитель продуктов для проекта Назаров Фитнес&nbsp;&mdash; ООО ГРАНД находится в&nbsp;городе Златоусте Челябинской области и&nbsp;обладает самым современным технологическим оборудованием. Специально для этого проекта был запущен новый цех, отвечающий самым жестким требованиям санитарных правил и&nbsp;норм.
						li.desc-info__item
							p.text ООО ГРАНД имеет огромный опыт и&nbsp;положительную репутацию в&nbsp;пищевой индустрии и&nbsp;является производителем продукции торговой марки ПЕЛЬМЯШ для федеральных сетей АЗС:
		div.row
			div.col-12
				div.making__brends
					include ../partners/partners.pug
