section.franchise
	div.container
		div.row
			div.col-12
				h2.h2 ЧТО ВХОДИТ ВО&nbsp;ФРАНШИЗУ
				p.h3 ПОЛНОМАСШТАБНАЯ ПОДДЕРЖКА НА&nbsp;ЗАПУСКЕ

		div.row
			div.col-12.col-md-6.col-lg-5.offset-lg-1
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__09.png', alt: 'Бренд-бук', title: 'Бренд-бук', text: 'Право пользования торговым знаком &laquo;Назаров&raquo;, руководство по&nbsp;фирменному стилю, готовый пакет рекламных и&nbsp;pos-материалов.'})(class="icon-vertical--left")
			div.col-12.col-md-6.col-lg-5
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__10.png', alt: 'Алгоритм поиска клиентов', title: 'Алгоритм поиска клиентов'})(class="icon-vertical--left")
		div.row
			div.col-12.col-md-6.col-lg-5.offset-lg-1
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__11.png', alt: 'Бизнес-план', title: 'Бизнес-план', text: 'Адаптивный бизнес-план с&nbsp;автоматическим расчетом окупаемости инвестиций, статьями доходов, расходов и&nbsp;рентабельности бизнеса.'})(class="icon-vertical--left")
			div.col-12.col-md-6.col-lg-5
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__12.png', alt: 'База знаний', title: 'База знаний', text: 'Наработки в&nbsp;сфере коммуникаций с&nbsp;клиентами, ответы на&nbsp;часто задаваемые вопросы.'})(class="icon-vertical--left")
		div.row.franchise__mb62
			div.col-12.col-md-6.col-lg-5.offset-lg-1
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__13.png', alt: 'Старт-Бук', title: 'Старт-Бук', text: 'Пошаговая инструкция по&nbsp;запуску бизнеса!'})(class="icon-vertical--left")
			div.col-12.col-md-6.col-lg-5
				div.franchise__item
					+icon-vertical({img: 'icon-vertical__14.png', alt: 'Потенциальные клиенты', title: 'Потенциальные клиенты'})(class="icon-vertical--left")

		div.row
			div.col-12
				p.h3 ПОДДЕРЖКА ВО&nbsp;ВРЕМЯ РАБОТЫ
		div.row.franchise__mb68
			div.col-12.col-md-4
				div.franchise__item.franchise__item--bottom
					+icon-vertical({img: 'icon-vertical__15.png', alt: 'Меню', title: 'СПРОС НА&nbsp;ЕДУ ПОСТОЯННЫЙ', text: 'Предоставление теоретических знаний и&nbsp;навыков для взаимодействия с&nbsp;клиентами и&nbsp;партнёрами.'})(class="icon-vertical--bg")
			div.col-12.col-md-4
				div.franchise__item.franchise__item--bottom
					+icon-vertical({img: 'icon-vertical__16.png', alt: 'Компьютер', title: 'Тренинги и&nbsp;вебинары'})(class="icon-vertical--bg")
			div.col-12.col-md-4
				div.franchise__item.franchise__item--bottom
					+icon-vertical({img: 'icon-vertical__17.png', alt: 'Менеджер', title: 'Личный менеджер по&nbsp;&laquo;горячим&raquo; вопросам'})(class="icon-vertical--bg")

		div.row
			div.col-12
				div.franchise__bottom
					p Открывайте новые точки-получайте больше прибыли