section.statistics
	div.container.statistics__border
		div.row
			div.col-12
				h2.h2 СКОЛЬКО МОЖНО ЗАРАБОТАТЬ?

		div.row
			div.col-12.col-lg-8.offset-md-1.offset-lg-2
				div.statistics__body
					div.statistics__img
						img(src="images/statistics__img-01.png", alt="Статистика")
					div.statistics__info
						p.statistics__text Ваша прибыль 35&nbsp;рублей с&nbsp;одной проданной порции.
						p.statistics__text.statistics__text--blue Вы&nbsp;зарабатываете в&nbsp;месяц:

		div.row
			div.col-12.col-lg-10.offset-lg-1
				div.statistics__table
					table
						thead.statistics__table-head
							tr
								th 
									b порций&nbsp;в&nbsp;день
								th 
									b 1&nbsp;ТОЧКА
								th 
									b 10&nbsp;ТОЧЕК
								th 
									b 50&nbsp;ТОЧЕК
								th 
									b 100&nbsp;ТОЧЕК

						tbody.statistics__table-body
							tr
								td 10&nbsp;порций
								td 10&nbsp;500&nbsp;руб.
								td 105&nbsp;000&nbsp;руб.
								td 525&nbsp;000&nbsp;руб.
								td 1&nbsp;050&nbsp;000&nbsp;руб.
							tr
								td 20&nbsp;порций
								td 21&nbsp;000&nbsp;руб.
								td 210&nbsp;000&nbsp;руб.
								td 1&nbsp;050&nbsp;000&nbsp;руб.
								td 2&nbsp;100&nbsp;000&nbsp;руб.
							tr
								td 30&nbsp;порций
								td 31&nbsp;500&nbsp;руб.
								td 315&nbsp;000&nbsp;руб.
								td 1&nbsp;575&nbsp;000&nbsp;руб.
								td 3&nbsp;150&nbsp;000&nbsp;руб.
		
		div.row
			div.col-12
				div.statistics__bottom
					p.statistics__bottom-title Все очень просто
					p.statistics__bottom-text Ваш партнер кормит посетителей&nbsp;&mdash;&nbsp;Вы зарабатываете деньги.