div.map
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.9080233865448!2d37.54976351625645!3d55.65580868052758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54d28b73d61eb%3A0x27d8265861a8450a!2z0J7QpNCY0KHQndCr0Jkg0KbQldCd0KLQoCAi0J3QkCDQndCQ0KPQp9Cd0J7QnCI!5e0!3m2!1sru!2sru!4v1587457764348!5m2!1sru!2sru"  frameborder="0" style="border:0;" allowfullscreen="")