section.advantages
	div.container.advantages__border
		div.row
			div.col-12
				h2.h2 ПРЕИМУЩЕСТВА БИЗНЕСА
		div.row
			div.col-12.col-md-6.col-xl-5.offset-xl-1
				div.advantages__item
					+icon-vertical({img: 'icon-vertical__06.png', alt: 'Столовые приборы', title: 'СПРОС НА&nbsp;ЕДУ ПОСТОЯННЫЙ', text: 'Здоровое питание&nbsp;&mdash; мировой и&nbsp;общероссийский тренд. Количество магазинов здорового питания растет, люди все больше времени и&nbsp;усилий уделяют правильному сбалансированному питанию, здоровому образу жизни. Мы&nbsp;облегчаем им&nbsp;эту работу. Назаров Фитнес всегда придет на&nbsp;помощь, когда лень готовить или нужно срочно принять пищу&nbsp;&mdash; настоящую, привычную и&nbsp;при этом полезную! В&nbsp;линейке представлен большой ассортимент самых популярных блюд мировой кухни!'})(class="icon-vertical--xl ")
			div.col-12.col-md-6.col-xl-5
				div.advantages__item
					+icon-vertical({img: 'icon-vertical__07.png', alt: 'Рукопожатие', title: 'БЕЗ РИСКОВ', text: 'В&nbsp;нашем бизнесе практически невозможно &laquo;прогореть&raquo;. У&nbsp;Вас, как у&nbsp;дистрибьютора нет никаких операционных затрат&nbsp;&mdash; по&nbsp;содержанию розничных торговых точек: ни&nbsp;аренды, ни&nbsp;фонда оплаты труда продавцов. У&nbsp;Вашего партнера также отсутствуют лишние расходы: морозильный ларь и&nbsp;рекламные материалы предоставляется ему бесплатно. По&nbsp;договоренности с&nbsp;Вами на&nbsp;первых порах он&nbsp;может оплачивать продукцию с&nbsp;отсрочкой платежа.'})(class="icon-vertical--xl ")
			div.col-12.col-md-6.col-xl-4.offset-md-3.offset-xl-4
				div.advantages__item
					+icon-vertical({img: 'icon-vertical__08.png', alt: 'Календарь', title: 'ДОЛГИЙ СРОК ХРАНЕНИЯ', text: 'Все наши блюда хранятся в&nbsp;морозильной камере и&nbsp;не&nbsp;портятся в&nbsp;течение 6&nbsp;месяцев! Без каких-либо консервантов. Достаточно просто протянуть руку и&nbsp;Вы сыты.'})(class="icon-vertical--xl ")