.advantages {
	/* 2 Block model */
	padding-bottom: 15px;
	margin-bottom: 20px;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 16px;
		margin-bottom: 120px;
	}
}
.advantages__border {
	/* 4 Visual */
	border-bottom: 1px solid #FFFFFF;
}
.advantages h2 {
	/* 2 Block model */
	max-width: 880px;
	margin: 0 auto;
	margin-bottom: 68px;
}
.advantages__item {
	/* 2 Block model */
	margin-bottom: 35px;
	@media (min-width: 768px) {
		/* 2 Block model */
		margin-bottom: 52px;
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */