include icon/icon.pug
include btn/btn.pug 
include logo/logo.pug
include picture/picture.pug
include input/input.pug
include search/search.pug
include icon-vertical/icon-vertical.pug
include product-component/product-component.pug
include shop-item/shop-item.pug
include breadcrumbs/breadcrumbs.pug 
include item-delivery/item-delivery.pug
include link-icon/link-icon.pug
include quantity/quantity.pug 
include tabs/tabs.pug 