section.market
	div.container
		div.row
			div.col-12
				h2.h2 В&nbsp;ЧЕМ ЦЕННОСТЬ НАШЕГО ПРЕДЛОЖЕНИЯ ДЛЯ РЫНКА?
		div.row
			div.col-12.col-md-6.col-xl-5.offset-xl-1
				div.market__item
					+icon-vertical({img: 'icon-vertical__01.png', alt: 'Выручка', title: 'УВЕЛИЧИВАЕТ ВЫРУЧКУ <br> ДО&nbsp;300&nbsp;000&nbsp;руб. В&nbsp;МЕСЯЦ!', text: 'Продукция Назаров Фитнес реально увеличивает выручку до&nbsp;300&nbsp;000&nbsp;руб.&nbsp;в&nbsp;месяц! Клиенты могут наслаждаться нашими блюдами прямо в&nbsp;кафе фитнес-клубов, а&nbsp;также приобрести их&nbsp;в&nbsp;замороженном виде домой.'})
			div.col-12.col-md-6.col-xl-5
				div.market__item
					+icon-vertical({img: 'icon-vertical__02.png', alt: 'Продукт', title: 'УНИКАЛЬНЫЙ ПРОДУКТ<br> КОТОРОГО РАНЬШЕ НЕ&nbsp;БЫЛО НА&nbsp;РЫНКЕ!', text: 'Мы&nbsp;с&nbsp;Вами формируем новую товарную нишу. Первые в&nbsp;России и, возможно, в&nbsp;мире. Это интересная и&nbsp;ответственная задача.'})