nav.menu
	ul.menu__list
		li
			a.menu__link(href="#description") Почему мы
		li
			a.menu__link(href="#info") О проекте
		li
			a.menu__link(href="#menu-product") Меню
		li
			a.menu__link(href="#where-to-ge") Где приобрести
		li
			a.menu__link(href="#contacts") Контакты