nav.menu
	ul.menu__list
		li
			a.menu__link(href="#") Почему мы

		li
			a.menu__link(href="#") О проекте

		li
			a.menu__link(href="#") Меню

		li
			a.menu__link(href="#") Где приобрести

		li
			a.menu__link(href="#") Контакты