nav.menu.menu--desc
	ul.menu__list
		li
			a.menu__link(href="#represent") О&nbsp;проекте
		li
			a.menu__link(href="#menu-product") Меню
		li
			a.menu__link(href="#making") Производство
		li
			a.menu__link(href="#business-works") Как работает бизнес