.h2 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	color: $color-white;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 32px;
		line-height: 42px;
	}
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 42px;
		line-height: 52px;
	}
}
.h2-22 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: $color-black200;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 22px;
		line-height: 30px;
	}
}
.h2-32 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	color: $color-black200;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 32px;
		line-height: 44px;
	}
}
