header.header.header--shop
	div.container
		div.header__body
			div.header__logo
				+logo({img: 'logo.png'})

			div.header__right
				div.header__nav
					div.header__city
						include ../city-select/city-select.pug

					div.header__menu
						include ../menu/menu--shop.pug

					div.header__tel
						a(href="tel:+74959227206") +7 (495) 922-72-06

			div.header__basket
				a.header__basket-body(href="/order")
					+icon('icon--basket', 'icon--29')
					span.header__basket-number 0

			button.header__btn(type="button")
				span.visually-hidden Открыть меню
				span.header__btn-visual 


