section.top(id="top")
	div.top__wrapper-bg
		div.container
			div.row
				dic.col-12.col-lg-7
					div.top__info
						h1.h1 ПИТАНИЕ ЧЕМПИОНОВ
						p.subtitle УСТАЛИ ДОБЫВАТЬ БЕЛОК ИЗ СЛАДКИХ КОКТЕЙЛЕЙ?
						p.lead Попробуйте новинку&nbsp;&mdash; уникальные блюда премиального качества Назаров Фитнес! 25&nbsp;грамм белка в&nbsp;каждой порции!

						div.top__action
							+btn({text: 'Стать дистрибьютером', type: 'link', url: '#modal_contact'})(class="modal-link")
							+btn({text: 'Интернет магазин', type: 'link', url: '/shop.html'})(class="btn--outline")
						
	div.top__product_components
		div.container
			div.row
				div.col-12.col-md-6.col-xl-3
					div.top__product_components-item
						+product-component({img: 'product-component__img-01.png', alt: 'хранение', title: '180 суток при минус 18&#176;С', text: 'Срок хранения продукции 180 суток при температуре не&nbsp;выше&nbsp;&minus;18&#176;С'})

				div.col-12.col-md-6.col-xl-3
					div.top__product_components-item
						+product-component({img: 'product-component__img-02.png', alt: 'приготовление', title: 'РАЗОГРЕВ В&nbsp;СВЧ-ПЕЧИ', text: 'Не&nbsp;нужно готовить. Просто разогрейте в&nbsp;микроволновке, в&nbsp;духовом шкафу или на&nbsp;плите'})

				div.col-12.col-md-6.col-xl-3
					div.top__product_components-item
						+product-component({img: 'product-component__img-03.png', alt: 'состав', title: '100% НАТУРАЛЬНЫЙ СОСТАВ', text: 'Без ГМО, консервантов, искусственных красителей, ароматизаторов, усилителей вкуса'})

				div.col-12.col-md-6.col-xl-3
					div.top__product_components-item
						+product-component({img: 'product-component__img-04.png', alt: 'экономия', title: 'ЭКОНОМИЯ  СРЕДСТВ', text: 'Можно заложить в&nbsp;морозильник &laquo;про запас&raquo; и&nbsp;использовать по&nbsp;необходимости'})