section.desc-info
	div.container
		div.row
			div.col-12
				h2.h2 ЧТО ТАКОЕ НАЗАРОВ ФИТНЕС?

		div.row
			div.col-12
				ul.desc-info__list
					li.desc-info__item
						p.text Это готовые, обогащенные белком блюда ресторанного качества, для приготовления в&nbsp;кафе фитнес-клубов, а&nbsp;также индивидуального питания дома или на&nbsp;работе.
					li.desc-info__item
						p.text Все блюда Назаров Фитнес разогреваются в&nbsp;микроволновой печи в&nbsp;течение 9-10 минут ( такое время обусловлено тем, что наши порции достаточно большие&nbsp;&mdash; 350&nbsp;&mdash; 400&nbsp;грамм). Также их&nbsp;можно разогревать в&nbsp;духовом шкафу или на&nbsp;плите, предварительно переложив в&nbsp;подходящую для этого посуду.
					li.desc-info__item
						p.text Потребительская упаковка наших блюд изготовлена исключительно из&nbsp;экологически чистых материалов&nbsp;&mdash; картона и&nbsp;бумаги. Мы&nbsp;не&nbsp;используем пластиковую посуду.
					li.desc-info__item
						p.text Мы&nbsp;не&nbsp;останавливаемся на&nbsp;достигнутом. Каждые три месяца появляется новый продукт!
		div.row
			div.col-12.col-md-4
				div.desc-info__img-item
					img(src="images/desc-info__img-01.png", alt="")
					p АВТОРСКАЯ РАЗРАБОТКА
			div.col-12.col-md-4
				div.desc-info__img-item
					img(src="images/desc-info__img-02.png", alt="")
					p СОБСТВЕННОЕ ПРОИЗВОДСТВО
			div.col-12.col-md-4
				div.desc-info__img-item
					img(src="images/desc-info__img-03.png", alt="")
					p ЭКОЛОГИЧНАЯ УПАКОВКА
					