div.modal.city(id="cityNameModal")
  div.modal-form__body
    p.modal-form__title Выбор города

    include ../city-select/city-select.pug

    p.modal-form__desc Если вашего города нет в списке, значит наша компания не осуществляет доставку в вашем регионе. Приносим свои извинения и надеемся, что в скором времени мы откроем в вашем городе представительство.