div.delivery
	div.container
		div.row
			div.col-12
				h2.h2-32.delivery__title Доставка
		div.row
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '01', desc: 'Доставка осуществляется после подтверждения заказа и согласования даты и времени.'})
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '02', desc: 'Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.'})
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '03', desc: 'За 30 минут до приезда курьер позвонит Вам для подтверждения доставки.'})
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '04', desc: 'Все сотрудники склада и службы доставки проходят ежедневные медосмотры.'})
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '05', desc: 'На складе и во время доставки соблюдается необходимый температурный режим'})
			div.col-12.col-md-4
				div.delivery-item
					+item-delivery({value: '06', desc: 'Вся продукция герметично упакована, транспортная тара опломбирована.'})